---
import Layout from '../layouts/Layout.astro';
import CoolTextEffect from '../components/CoolTextEffect.astro';
---

<Layout title="bpm.">
	<main class="container w-full max-w-[1400px] mx-auto px-4">
		<CoolTextEffect className="mt-[10vh] text-2xl md:text-9xl" />
	</main>
</Layout>

<style>
</style>
