
---
import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
	<main>
		<section class="mb-24">
			<h1 class="mb-4 text-5xl font-bold text-primaryWhite">Source?</h1>
			<p class="text-xl">My source is that I made it the f*** up</p>
		</section>
	</main>
</Layout>
