
---
import Layout from "../layouts/Layout.astro";
import WorksEffect from "../components/WorksEffect.astro";
---

<Layout title="works">
	<main class="pt-[15vh]">
		<WorksEffect className=""/>
	</main>
</Layout>


