---
---

<footer class="fixed bottom-0 right-0 w-fit z-10 pb-4 pr-8 flex justify-between items-center">
	<div class="flex items-center gap-6">
		<a class="transition-colors duration-200 cursor-pointer hover:text-primaryWhite"
			rel="noopener"
			rel="noreferrer"
			target="_blank"
			href="https://www.github.com/balits/personal-website"
		>
			source
		</a>
{/*
		<button
			type="button"
			class="transition-colors duration-200  m-4 h-fit p-1 rounded-md border-primaryText border-[1px] hover:text-primaryWhite hover:border-primaryWhite"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="w-5 h-5"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
			</svg>
		</button>
*/}
	</div>
</footer>
